<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tiem Chung</title>
    <link rel="stylesheet" href="/assets/css/homepage/style.css" />
  </head>
  <body>
    <div class="container">
      <a href="/dang-ky-tiem-chung">Đăng ký tiêm chủng</a>
      <a href="/dat-mua-vaccine">Đặt mua Vaccine</a>
      <a href="/lich-su-tiem-chung">Lịch sử tiêm chủng</a>
    </div>
  </body>
</html>
